.board-page {
  min-height: 100vh;
  min-height: 100svh;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@media only screen and (min-width: 750px) {
  .board-page {
    height: 100vh;
    height: 100svh;
    min-height: 100dvh;
    justify-content: center;
  }
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.board {
  border: 6px solid black;
  display: inline-block;
}

.board-first-border {
  border: 5px solid #311C33;
  display: inline-block;
  border-radius: 2%;
}

.board-second-border {
  border: 5px solid #1D203A;
  display: inline-block;
  border-radius: 2%;
}

.board-third-border {
  border: 3px solid black;
  background-color: #1D203A;
  display: inline-block;
  border-radius: 2%;
}

@media only screen and (min-width: 750px) {
  .board-first-border {
    border: 10px solid #311C33;
  }

  .board-second-border {
    border: 10px solid #1D203A;
  }

  .board-third-border {
    border: 6px solid black;
  }
}

.cell {
  border: 1px solid #332234;
  height: 22px;
  width: 22px;
  -webkit-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 750px) {
  .cell {
    height: 25px;
    width: 25px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
}

.tile {
  font-size: 14px;
  color: #abb4af;
  border: solid;
  border-radius: 3%;
  background-color: transparent;
  font-weight: bolder;
  width: 90px;
  height: 50px;  
}

@media only screen and (min-width: 750px) {
  .tile {
    font-size: 24px;
    width: 120px;
    height: 80px;
  }
}

.tile.control-button {
  font-size: 14px;
  height: 50px;
  width: 110px;
}

@media only screen and (min-width: 750px) {
  .tile.control-button {
    font-size: 18px;
    width: 140px;
    height: 80px;
  }
}

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.arrows-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.board-button, .board-button:focus {
  border: 2px solid #562A51;
  text-transform: uppercase;
  user-select: none;
}

.board-button:disabled {
  background-color: transparent;
  border-color: #41313f;
}

@media only screen and (min-width: 750px) {
  .board-button, .board-button:focus, .board-button:disabled {
    border-width: 5px;
  }
}

.board-button:disabled:hover {
  background-color: transparent;
  color: #ABADB4;
}

@media (hover: hover) {
  .board-button:hover {
    background-color: #271829;
    color: beige;
    cursor: pointer;
  }
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  border: none;
  font-weight: bold;
  color: #abb4af;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (min-width: 750px) {
  .game {
    gap: 25px;
  }
}
